.sections-hero{
    .wrapper{
        .title{
              font-variation-settings:
                "wght" 150,
                "wdth" 60;
                font-size:30vw;
                text-transform: uppercase;
                text-align: center;
                line-height: 26vw;
                .big-chairs{
                    font-variation-settings:
                    "wght" 150,
                    "wdth" 144;
                }
        }
    }
}