.sections-hero{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .wrapper{
        .title{
            font-variation-settings: "wght" 387, "wdth" 60;
            text-transform: uppercase;
            text-align: center;
            font-size: 22vw;
            line-height: 27vw;
                .big-chairs{
                    font-variation-settings:
                    "wght" 387,
                    "wdth" 144;
                }
        }
    }
}